{%extends 'base.html'%}

{%block css%}<link href="/static/styles/login.css" rel="stylesheet">{%endblock%}
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
{%block page%}
    {% if current_user.is_authenticated %}
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <center><h2 class="mb-2">{{ message }}</h2></center>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
{%endblock%}